<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a routerLink="" class="my-0 mr-md-auto font-weight-normal logo">Recommendation System</a>
    <nav class="my-2 my-md-0 mr-md-3">
            <a  routerLink="/login" routerLinkActive="active" class="btn btn-outline-primary px-4 mx-1" href="#">Login</a>
            <a  routerLink="/register" routerLinkActive="active" class="btn btn-outline-primary px-4 mx-1" href="#">Register</a>
    </nav>
</div>